* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
}

.login {
    width: 320px;
    max-width: 80%;
    height: 450px;
    border: 1px solid #CCC;
    background: url(https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif) center center no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
}

.login .form {
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login .form h2 {
    color: #FFF;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.input-container i {
    margin-right: 10px;
}

.input-container input {
    width: calc(100% - 40px);
    height: 40px;
    margin-top: 10px;
    background: rgba(255, 255, 255, .5);
    border: 1px solid rgba(255, 255, 255, .1);
    padding: 0 15px;
    color: #FFF;
    border-radius: 5px;
    font-size: 14px;
}

.input-container i.fa-eye {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #DDD;
    cursor: pointer;
}

.login .form input:focus {
    border: 1px solid rgba(255, 255, 255, .8);
    outline: none;
}

/* Agrega un estilo para el contenedor del logo y el texto */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-text {
    color: #FFF;
    font-size: 18px;
    margin-left: 10px; /* Espacio entre la imagen y el texto */
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.2);
}


::-webkit-input-placeholder {
    color: #DDD;
}

.login .form input.submit {
    background: rgba(255, 255, 255, .9);
    color: #444;
    font-size: 15px;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.terms {
    color: #DDD;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

.terms a {
    color: #FFF;
    text-decoration: underline;
}
