/* Estilos generales */
body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: url('../photos/A.jpeg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Cursive', sans-serif;
}

/* Estilos para la imagen de perfil */
.card-header img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.card-header:hover img {
    transform: scale(1.1);
}

/* Estilos para la información del usuario */
.UserInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}

.Username {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.PostDate {
    font-size: 14px;
    color: #777;
}

/* Estilos para la publicación de blog mejorados */
.card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

.PostTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.PostContent {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.publi {
    align-content: center;
    margin-top: 8px;
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.publi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.publi:hover {
    transform: scale(1.1);
}
