body {
    /* Puedes eliminar o ajustar propiedades aquí */
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: url('../photos/fond1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}


img {
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

:hover img {
    transform: scale(1.1);
}


/* Estilos adicionales para diseño fluido y animaciones */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente los enlaces en la barra */
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7); /* Negro semitransparente para dispositivos de escritorio */
    position: fixed;
    width: 100%;
    top: 2px;
    z-index: 1000;
}

.menu-toggle {
    display: none;
    flex-direction: column;
}



.menu-links {
    display: flex;
}

.menu-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    margin: 0 15px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Agregamos una transición para cambiar el color de fondo */
}

.menu-links a:hover {
    
    background-color: rgba(255, 255, 255, 0.1); /* Cambia el color de fondo en el hover */
}


.menu-responsive {
    position: fixed;
    top: 0;
    left: 0;
    width: 190px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    border-radius: 10px;
    opacity: 0; /* Inicialmente transparente */
    visibility: hidden; /* Inicialmente oculto */
    transform: translateX(-100%);
    transition: opacity 0.8s ease-out, visibility 0.5s ease-out, transform 0.3s ease-out;
    overflow: hidden;
    pointer-events: none; /* Desactiva la interacción del usuario cuando está oculto */
}



.menu-toggle-responsive {
    display: none;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1001;
    cursor: pointer;
}


        /* Estilos personalizados para SweetAlert2 */
        .swal2-popup {
            background-color: rgba(0, 0, 0, 0.94);
            color: #fff;
            border: 2px solid #4caf50; /* Borde verde para resaltar */
        }

        .error-popup {
            background-color: rgba(0, 0, 0, 0.94);
            color: #fff;
            border: 2px solid brown; /* Borde rohjo para resaltar */
        }

        .swal2-title {
            color: #4caf50;
            font-size: 24px;
        }

        .error-title {
            color: firebrick;
            font-size: 24px;
        }

        .swal2-content {
            font-size: 16px;
        }

        .swal2-confirm {
            background-color: #fff;
            color: #4caf50;
            border: 1px solid #4caf50; /* Borde verde para resaltar */
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        }

        .swal2-confirm:hover {
            background-color: #4caf50; /* Cambiar el color al pasar el ratón */
            color: #fff;
        }


        .error-confirm-button:hover {
            background-color: maroon; /* Cambiar el color al pasar el ratón */
            color: #fff;
        }



/* Estilos mejorados para los submenús */
.menu-with-submenu {
    position: relative;
}

.menu-with-submenu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    margin: 0 15px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
}

.menu-with-submenu .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo del submenú negro semitransparente */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    width: 220px; /* Ajustar el ancho según sea necesario */
}

.menu-with-submenu:hover a {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-with-submenu:hover .submenu {
    display: flex;
    flex-direction: column;
}

.menu-with-submenu .submenu li {
    padding: 10px;
    transition: background-color 0.3s ease;
    text-align: center;
    list-style-type: none; /* Quitar los puntos de la lista */
}

.menu-with-submenu .submenu li:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Color de fondo en hover */
    border-radius: 5px;
}

.menu-with-submenu a i {
    margin-right: 5px;
}

.menu-with-submenu .submenu a i {
    margin-right: 10px;
}

.menu-with-submenu .submenu a {
    color: #fff;
}

.menu-with-submenu .submenu a:hover {
    color: #ffd700; /* Color del texto en hover */
}

/* Estilos para dispositivos responsivos */
@media (max-width: 768px) {
    .menu-links {
        display: none;
    }

    .menu-toggle-responsive {
        display: flex;
        flex-direction: column; /* Añadido para apilar las barras verticalmente */
    }

    
    .menu-toggle-responsive .bar {
        width: 25px;
        height: 3px;
        background-color: rgb(172, 168, 168);
        margin-bottom: 6px;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .menu-toggle-responsive.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .menu-toggle-responsive.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .menu-toggle-responsive.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    /* Estilos para el contenido del menú */
    .menu-responsive-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        border-radius: 10px;
        text-align: center;
    }
    
    .menu-responsive-content a {
        position: relative;
        top: 120px;
        color: #d813c8;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        padding: 15px;
        display: block;
        margin: 8px 0;
        transition: color 0.3s, background-color 0.3s;
        border-radius: 10px;
    }
    
    .menu-responsive-content a:hover {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.1);
    }
    

.menu-responsive.active {
    display: flex;
    background-color: rgba(5, 2, 2, 0.8); /* Gris semitransparente */
    opacity: 1; /* Hacer visible */
    visibility: visible; /* Hacer visible */
    transform: translateX(0);
    pointer-events: auto; /* Habilita la interacción del usuario cuando está visible */
}

.menu-responsive.inactive {
    opacity: 0; /* Hacer transparente */
    visibility: hidden; /* Ocultar */
    transform: translateX(-100%);
    pointer-events: none; /* Desactiva la interacción del usuario cuando está oculto */
}

}