/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Clases reutilizables */
.no-scroll {
    overflow: hidden;
}

.overlay,
.comment-section,
.comment-form,
.comment-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de fondo semi-transparente */
.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    display: none;
}


/* Estilo de botón Ver Comentarios */
.show-comments-button {
    background: none;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.show-comments-button:hover {
    background-color: rgba(52, 152, 219, 1);
}

/* Estilo de sección de comentarios */
.comment-section {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    z-index: 3;
    display: none;
    animation: fadeInDown 0.5s ease; /* Animación de entrada */
}

/* Estilo del formulario de comentarios */
.comment-form {
    margin-top: 15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.comment {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    color: #fff;
    margin-top: 15px;
    display: flex;
    align-items: flex-start;
    position: relative; /* Añadir posición relativa para posicionar el botón */
}

.comment:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.8);
}

.comment:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.8);
}

.comment:hover {
    background-color: rgba(52, 152, 219, 0.3);
    transform: scale(1.02);
}

.comment img.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.comment p {
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Estilo del área de texto */
.comment-input-wrapper {
    display: flex;
}

.new-comment-content {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    resize: none;
}

/* Estilo del botón de enviar comentario */
 .comment-button {
    background: none;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px; /* Redondear los bordes del botón */
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.comment-button i {
    color: #ddd;
    border-radius: 50px;
    font-size: 30px;
}


.comment-form .comment-button:hover {
    background-color: #333;
}

/* Estilo de la sección de comentarios */
.comment-card {
    max-height: 400px;
    width: 500px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

/* Scroll de desplazamiento */
.comment-card::-webkit-scrollbar {
    width: 1px;
}

/* Comentario adicional: ajuste de la posición en .comment-form.show */
.comment-form.show {
    top: 250px;
}

/* Media Query para tamaños de pantalla más pequeños */
@media only screen and (max-width: 600px) {
    .comment-card {
        width: 90%;
        max-width: 100%;
    }

    .comment-section {
        width: 90%;
        max-width: 90%;
    }
}
