body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

.card {
    width: 100%; /* Cambiado a 100% para que se ajuste al ancho del contenedor padre */
    max-width: 500px; /* Ancho máximo para evitar que la tarjeta sea demasiado ancha en pantallas grandes */
    margin: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(37, 34, 34, 0.7);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out, background-color 0.5s ease; /* Añadida la transición para el color de fondo */
}

/* Agrega tus estilos CSS aquí */
.card-icons .like-button {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.card-icons .like-button.clicked {
    color: #e74c3c; /* Cambia a tu color de "like" deseado */
}


.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.profile-pic {
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 1px;
}

.post-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.card p {
    margin: 0;
    color: #fff;
}

.card-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;

}

.card-date {
    color: #777;
    font-size: 12px;
    margin-top: 5px;
}

.card-icons {
    margin-top: 10px;
}

.card-icons i {
    margin-right: 10px;
    color: #fff;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.like-section, .comment-section {
    display: flex;
    align-items: center;
}

.like-section i, .comment-section i {
    margin-right: 5px;
}

.like-count, .comment-count {
    margin-left: 5px;
    color: #fff;
}



@media screen and (max-width: 768px) {
    .card {
        width: 80%; /* Ajuste adicional para pantallas pequeñas */
    }

    .profile-pic {
        width: 50px; /* Ajuste del tamaño de la foto de perfil para pantallas pequeñas */
        margin-right: 5px;
    }
}