body {
    background-image: url("trabajo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans' sans-serif;
    box-sizing: border-box;
}

form{
    width: 450px;
    border: 2px solid black;
    padding: 30px;
    background-color: #070F2Be3;
    border: none;
    border-radius: 20px;
    color: aliceblue;
    box-shadow: 7px 13px 37px #000;
}
h4{
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #24303c00;
    font-family: 'Open Sans', sans-serif;
}

label{
    color: aliceblue;
    font-size: 18px;
    padding: 10px;
    font-weight: 300px; 
}

input{
    display: block;
    border: 1px solid #9290C3;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

button{
    float: right;
    background-color: #1f53c5;
    padding: .5rem;
    color: white;
    border: none;
    width: 40%;
    border-radius:  5px;
    margin-right: 10px;
}

button:hover{
    background-color: #1544ab;
    transition: 1s;
    color: white;
}

a{
    float: left;
    margin-left: 10px;
    padding: .5rem;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: underline;
}
/*.logo{ /*Logo en fondo de la palabra iniciar sesion
    background: url("logo.png");
    background-position: center;
}
En login.php forma para que quede alineada a la izquierda
*/
